.activeRoute {
    button {
        font-weight: bold;
        text-decoration: underline;
        color: red;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }
}

.navlinks button {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}